* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "open sans", monospace;
}
ul div {
	padding: 0.8rem;
	margin-bottom: .5rem;
	border-bottom: 1px solid gray;
	margin-right: 5%;
	list-style-type: none;
	position: sticky;
	text-align: right;
	border: none;

}


nav .nav, nav .nav-logo {
		display: inline;
		margin-left: 1rem;
		margin-right: 1rem;			
	}


#logo {
	margin-top: 2rem;
	margin-left: 5%;
	float: left;
}


.tuitt-button {
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	background-color: #c2195b;
	border-radius: 20px;
	font-size: 1rem;
	width: 120px;
	height: 35px;
}


#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	

}

.container{
	min-height: 40vh;
	text-align: right;
	padding-left: 10%;
	padding-right: 10%;


}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.title {
	font-family: Zilla Slab, monospace;
	text-align: right;
	font-size: 50px;
	color: white;			
	margin-bottom: 15px;	
	margin-left: 50%
}
.subtitle{
	color: white;
	align-content: right;
	font-size: 14px;
	margin-bottom: 15px;
	margin-left: 50%;

		
}

.apply-button {

	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	background-color: #c2195b;
	border-radius: 20px;
	font-size: 1rem;
	width: 140px;
	height: 35px;
}


.title-2 {
	font-family: Zilla Slab, monospace;
	text-align: center;
	padding-top: 2%;
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: 30px;
}

.intro-description {
	margin-left: 20%;
	margin-right: 20%;
	text-align: left;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;


}

.prefooter-description {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 2%;
	text-align: center;
}


.book-button {
	background-color: #336589;
	margin-bottom: 5%;
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 20px;
	font-size: 1rem;
	width: 150px;
	height: 35px;

}

footer {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
}